@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family:
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      sans-serif;
    box-sizing: border-box;
  }

  svg {
    display: inline-block;
  }

  html,
  body {
<<<<<<< HEAD
    @apply w-full h-full min-h-screen p-0 m-0 overflow-auto;
  }

=======
    @apply w-full p-0 m-0;
    overflow: visible;
  }
>>>>>>> a002db00f5b234dc767012ea5df884703d65535c
  #root {
    @apply mx-auto h-full w-full text-center;
  }
}
